<!-- <div class="card mt-4">
    <div class="card-body">
        <h6>listes clients</h6>
            <li *ngFor="let client of listesclients">{{client.users}}{{client.adresseClient}} {{client.telClient}}</li>

    </div>
</div> -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">prenom</th>
        <th scope="col">nom</th>
        <th scope="col">adresse</th>
        <th scope="col">tel</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of listesclients">
        <td>{{client.prenom}}</td>
        <td>{{client.nom}}</td>
        <td>{{client.Adresse_Client}} </td>
        <td>{{client.Tel_Client}}</td>
        <a routerLink="/modifierc/{{client.id}}" class="btn btn-primary">modifier</a>
        <td><button class="btn btn-success" (click)="deleteClient(client.id)">supprimer</button></td>
      </tr>
      
    </tbody>
  </table>

