<!DOCTYPE html>

<html>

<body>

    <div>
        <br>
        <br>
        <ul class="produits">
           
            <li class="item">

                <a class="nav-link" href="# ">Commandes validees</a>
            </li>
            <br>
            <li class="item">

                <a class="nav-link" href="# ">Commande en cours</a>
            </li>
            <br>
            <li class="item">
                <a class="nav-link" href="/livreur ">Livreurs</a>
            </li>
            <br>
            <li class="item">
                <a class="nav-link" href="vendeur ">Vendeurs</a>
            </li>
            <br>
            <li class="item">
                <a class="nav-link" href="client ">Clients</a>
            </li>
            <br>
            <li class="item">
                <a class="nav-link" href="# ">Produits</a>
            </li>
           
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div>
        <br>
        <br>
        <ul class="produits">
            
            
            <li class="itemp">
                <a  class="nav-link" href="# "> Deconnexion</a>
            </li>
        </ul>
    </div>
   
</body>

</html>
